.title_container{
    color: #fff;
    padding: 50px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    background-image: url("../../assets/banners/pagesimage.jpeg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    text-align: center;
}

.title_container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(73, 38, 14, 0.5);
    z-index: 2;
}


.title{
    z-index: 3;
    font-size: 50px;
    position: relative;
}

.about_container{
    display: flex;
    padding: 50px;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

p:first-child{
    font-size: 20px;
}

.bold_text{
    font-weight: 500;
    color: var(--second-title-color);
}

.normal_text{
    font-weight: 400;
    color: var(--second-title-color);
}

.loading{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .about_container{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .title_container{
        padding: 20px;
    }
    .title{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 70%;
    }
}