@import "react-alice-carousel/lib/alice-carousel.css";

.content_container{
    max-width: 1400px;
    margin: 0 auto;
}

/* slider */

.slider{
    background-image: url("../../assets/banners/homeimage.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width:100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: zoom-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(73, 38, 14, 0.5);
    z-index: 2;
}

@keyframes zoom-in {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.slider_row{
    width: 60%;
    padding: 50px;
    z-index: 3;
}

.text_overlay{
    margin-bottom: 100px;
}

.text_top{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    color: #fff;
}

.text_bottom{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.slider_btn{
    color: #fff;
    background-color: var(--main-orange-color);
    padding: 18px 50px;
    border-radius: 30px;
    font-weight: 500;
    transition: all .3s ;
    cursor: pointer;
}

.slider_btn:hover{
    filter: brightness(110%);
}

.slider_btn:active{
    filter: brightness(90%);
}


/* achievements */


.achievements{
    display: flex;
    justify-content: space-around;
    padding-top: 140px ;
    padding-bottom: 140px ;
}

.single_achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ach_number{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: var(--main-orange-color);
}

.ach_label{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

/* why choose us */

.why_choose_us{
    width: 67%;
    padding:80px 0;
    margin: 0 auto;
}

.small_title{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--main-orange-color);
}

.big_title{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.motive_text{
    color: var(--main-text-color);
    width: 66%;
}

.single_service{
    position: relative;
    width: 25%;
}

.first{
    width: 19%;
}

.service_number{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 116px;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #E6E1D9;
    color: var(--background-color);
    z-index: 1;
}


.service_name{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--second-title-color);
    width: 50%;
    height: 100%;
    position: absolute;
    right: -25px;
    top: 45%;
    z-index: 2;
}

.service{
    display: flex;
    justify-content: space-between;
}

/**************************************************** reviews **********************************************/

.clients_says_container{
    padding:40px 0;
    text-align: center;
    background-color: var(--footer-background-color);
}

.clients_says_inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.clients_says_title{
    padding: 20px 0;
}

.clients_says_content{
    display: flex;
    justify-content: center;
}

.single_review_column{
    padding: 15px;
    box-sizing: border-box;
}

.single_review_column p{
    color: var(--main-text-color);
}

.single_review{
    background-color: var(--background-color);
    padding: 30px;
    height: 400px;
}

.single_review img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.single_review_name{
    text-transform: uppercase;
    margin: 20px 0;
    color: var(--main-title-color);
    font-size: 20px;
}

.single_review_stars{
    color: var(--main-orange-color);
}

.single_review_stars svg{
    padding: 0 1px;
}


/**************************************************** adaptive **********************************************/

@media (max-width: 1200px) {
    .service{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .service_name{
        right: -90px;
    }
}


@media (max-width: 900px) {
    .text_top{
        font-size: 4rem;
    }
    .achievements{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 700px) {
    .achievements{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .small_title{
        font-size: 12px;
    }
    .big_title{
        font-size: 30px;
    }
    .motive_text{
        margin-top:10px ;
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .why_choose_us{
        padding: 50px 0;
    }
    .text_top{
        font-size: 2rem;
    }
    .text_bottom{
        font-size: 14px;
        line-height: 24px;
    }
    .slider{
        height: 400px;
        background-attachment: local;
    }
    .slider_btn{
        padding: 9px 25px;
        font-size: 12px;
    }
    .text_overlay{
        margin-bottom: 40px;
    }
    .ach_number{
        font-size: 32px;
    }
    .ach_label{
        font-size: 12px;
    }
    .achievements{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .service_number{
        font-size: 50px;
    }
    .service_name{
        font-size: 10px;
        right: -45px;
    }
    .first .service_name{
        right:-35px;
    }

}


