.container{
    display: flex;
    padding: 30px 200px 30px 100px;
    justify-content: space-between;
}

.logo{
    color: var(--main-orange-color);
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--second-title-color);
    align-items: center;
}

.nav span{
    transition: .3s;
    cursor: pointer;
}

.nav span:hover{
    color: var(--main-orange-color);
}
