.container{
    min-width: 100vw;
    background-color: var(--footer-background-color);
}

.top_footer{
    display: flex;
    padding: 60px 100px ;
    justify-content: space-between;
    gap: 100px;
}

.contact_subtitle, .links_list a, .address{
    color: var(--main-text-color);
    font-size: 16px;
}


.address div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.address svg{
    color: var(--main-orange-color);
}

.title{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--main-title-color);
}

.contact_us{
    display: flex;
    flex-direction: column;
}


.bottom{
    border-top: 1px solid var(--main-text-color);
    padding: 20px;
    text-align: center;
    color: var(--main-text-color);
}



.phone_numbers{
    display: flex;
    flex-direction: column;
}

.contact_btn{
    width: 200px;
    background-color: var(--main-orange-color);
    border-radius: 30px;
    border: none;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    transition: all .3s;
    cursor: pointer;
}

.contact_btn:hover{
    filter: brightness(110%);
}

.contact_btn:active{
    filter: brightness(90%);
}

.links_list{
    margin-top: 30px;
}

.links_list a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.14em;
    margin-bottom: 6px;
}



@media(max-width: 1080px){
    .top_footer{
        flex-direction: column;
        padding: 30px 50px;
    }
}

@media(max-width: 576px){
    .top_footer{
        flex-direction: column;
        padding: 15px;
        gap: 40px;
    }
    .title{
        font-size: 16px;
    }
    .contact_subtitle, .links_list a, .address ,.bottom{
        font-size: 14px;
    }
    .links_list{
        margin-top: 15px;
    }
    .contact_btn{
        width: 160px;
        height: 40px;
    }
}

