.title_container{
    background-image: url("../../assets/banners/fleet_background.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width:100vw;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(73, 38, 14, 0.5);
    z-index: 2;
}

.title{
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 50px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}

.fleet_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    gap: 40px;
}

.truck_block{
    display: flex;
    gap: 20px;
}

.truck_pic img{
    width: 500px;
}

.truck_desc_title{
    font-family: 'Syne', sans-serif;
    color: var(--main-orange-color);
    font-size: 20px;
    margin-bottom: 5px;
}

.truck_desc_text{
    color: var(--second-title-color);
}

table{
    border-collapse: collapse;
    margin-top: 30px;
}

th{
    color: var(--second-title-color);
    font-weight: 500;
}
td{
    color: var(--main-text-color);
}

table th, table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    border-style: solid;
}



@media (max-width: 992px) {
    .title_container{
        height: 76px;
        background-attachment: local;
    }
    .title{
        font-size: 30px;
    }
    .truck_block{
        flex-direction: column;
    }
    .truck_pic{
        margin: 0 auto;
    }
    table{
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .truck_pic img{
        width: 300px;
    }
    .truck_desc_text{
        font-size: 14px;
    }
}

